{% extends "szablon.html" %}
{% block tytul %}Quiz – Lista pytań{% endblock %}
{% block h1 %}Quiz – odpowiedz na pytania{% endblock %}
{% block tresc %}


<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Imie</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Płeć</th>
        </tr>
    </thead>
    <tbody>
        {% for s in students %}
        <tr>
            <th scope="row">{{s}}</a></th>
            <td>{{s.uczen_name}}</td>
            <td>{{s.surname}}</td>
            <td>{{s.gender_key}}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock %}
    
